html, body {
  height: 100%;
}

body {
  background: salmon;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.cube {
  width: 10em;
  height: 10em;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(-25deg) rotateX(-25deg);
  transition: 0.3 ease all;
}

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6em;
  padding: 0.3em;
  outline: 2px solid black;
  background: black;
}

.panel div {
  border-radius: 0.3em;
}

.panel-top {
  transform: rotateX(90deg) translateZ(5em);
}

.panel-top div {
  background: white;
}

.panel-bottom {
  transform: rotateX(90deg) translateZ(-5em);
}

.panel-bottom div {
  background: blue;
}

.panel-left {
  transform: rotateY(90deg) translateZ(-5em);
}

.panel-left div {
  background: orange;
}

.panel-right {
  transform: rotateY(90deg) translateZ(5em);
}

.panel-right div {
  background: red;
}

.panel-back {
  transform: rotateZ(90deg) translateZ(-5em);
}

.panel-back div {
  background: yellow;
}

.panel-front {
  transform: rotateZ(90deg) translateZ(5em);
}

.panel-front div {
  background: green;
}

.rotate-x {
  transform-style: preserve-3d;
  animation: rotateX 20s linear infinite;;
}

.rotate-y {
  transform-style: preserve-3d;
  animation: rotateY 20s linear infinite;;
}

.rotate-z {
  transform-style: preserve-3d;
  animation: rotateZ 20s linear infinite;;
}

@keyframes rotateX {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}